{% extends "index.html" %}
{% load static %}
{% block main %}
<main class=" col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
  <div class="main-content ">
    <div class="bg-white rounded-4 shadow-sm ">
      <div class="d-flex align-items-center justify-content-center">


        <div class="p-5 text-center">
          <img src="static/img/404.svg" class="img-fluid col-md-4" alt="osahan">
          <div class="text-center pb-5">
            <h2 class="fw-bold text-black mt-4">Oh no! Where did you go?</h2>
            <p class="mb-4">We can’t seem to find the page you were looking for.</p>
            <a href="./" class="btn btn-primary rounded-pill py-3 px-4 shadow-sm">
              <span class="px-3">
                Go back to safety
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock main %}