{% extends "index.html" %}
{% load static %}
{% block main %}

<main class=" col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
  <div class="main-content ">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade" id="pills-feed" role="tabpanel" aria-labelledby="pills-feed-tab">

        <div class="input-group mb-4 shadow-sm rounded-4 overflow-hidden py-2 bg-white" data-bs-toggle="modal"
          data-bs-target="#postModal">
          <span class="input-group-text material-icons border-0 bg-white text-primary">account_circle</span>
          <input type="text" class="form-control border-0 fw-light ps-1" placeholder="Update Bio">
          <a href="#"
            class="text-decoration-none input-group-text bg-white border-0 material-icons text-primary">add_circle</a>
        </div>

        
      </div>
      <div class="tab-pane fade active show" id="pills-people" role="tabpanel"
        aria-labelledby="pills-people-tab">
        <div class="bg-white p-3 feed-item rounded-4 mb-3 mt-3 shadow-sm">
          <div class="d-flex align-items-center">
            <a href="../" class="material-icons text-dark text-decoration-none me-3">arrow_back</a>
            <h6 class="mb-0 d-flex align-items-start text-body fs-6 fw-bold">Your Penpals</h6>
          </div>
        </div>

        <div class="bg-white rounded-4 overflow-hidden mb-4 shadow-sm">

          <a href="../chatbox"
            class="p-3 border-bottom d-flex text-dark text-decoration-none account-item pf-item">
            <img src="/static/img/image.jpg" class="img-fluid rounded-circle me-3" alt="profile-img">
            <div>
              <p class="fw-bold mb-0 pe-3 d-flex align-items-center">Vaibhav <span
                  class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span>
              </p>
              <div class="text-muted fw-light">
                <p class="mb-1 small">@abcdsec</p>
                <span class="d-flex align-items-center small">Data Scientist</span>
              </div>
            </div>
            <div class="ms-auto">
              <span class="btn btn-outline-primary btn-sm px-3 rounded-pill">Chat</span>
            </div>
          </a>

          <a href="../chatbox"
            class="p-3 border-bottom d-flex text-dark text-decoration-none account-item pf-item">
            <img src="/static/img/image.jpg" class="img-fluid rounded-circle me-3" alt="profile-img">
            <div>
              <p class="fw-bold mb-0 pe-3 d-flex align-items-center">Aryan<span
                  class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span>
              </p>
              <div>
                <p class="fw-light text-muted mb-1 small">@ac4829</p>
                <span class="d-flex align-items-center small">Designer</span>
              </div>
            </div>
            <div class="ms-auto">
              <span class="btn btn-outline-primary btn-sm px-3 rounded-pill">Chat</span>
            </div>
          </a>

          <a href="../chatbox" class="p-3 d-flex text-dark text-decoration-none account-item pf-item">
            <img src="/static/img/image.jpg" class="img-fluid rounded-circle me-3" alt="profile-img">
            <div>
              <p class="fw-bold mb-0 pe-3 d-flex align-items-center">Konex <span
                  class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span>
              </p>
              <div>
                <p class="text-muted fw-light mb-1 small">@Konex</p>
                <span class="d-flex align-items-center small">Artist/Author/Motivational Speaker</span>
              </div>
            </div>
            <div class="ms-auto">
              <span class="btn btn-outline-primary btn-sm px-3 rounded-pill">Chat</span>
            </div>
          </a>

          <a href="../chatbox"
            class="p-3 border-bottom d-flex text-dark text-decoration-none account-item pf-item">
            <img src="/static/img/image.jpg" class="img-fluid rounded-circle me-3" alt="profile-img">
            <div>
              <p class="fw-bold mb-0 pe-3 d-flex align-items-center">Gurpreet <span
                  class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span>
              </p>
              <div>
                <p class="fw-light text-muted mb-1 small">@icyhymn</p>
                <span class="d-flex align-items-center small">Artist</span>
              </div>
            </div>
            <div class="ms-auto">
              <span class="btn btn-outline-primary btn-sm px-3 rounded-pill">Chat</span>
            </div>
          </a>

          <a href="../chatbox"
            class="p-3 border-bottom d-flex text-dark text-decoration-none account-item pf-item">
            <img src="/static/img/image.jpg" class="img-fluid rounded-circle me-3" alt="profile-img">
            <div>
              <p class="fw-bold mb-0 pe-3 d-flex align-items-center">Snehalata <span
                  class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span>
              </p>
              <div>
                <p class="fw-light text-muted mb-1 small">@snehalata654</p>
                <span class="d-flex align-items-center small">Designer</span>
              </div>
            </div>
            <div class="ms-auto">
              <span class="btn btn-outline-primary btn-sm px-3 rounded-pill">Chat</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</main>
{% endblock %}