{% extends "index.html" %}
{% load static %}
{% block main %}

<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
  <div class="main-content">
  <div class="mb-5">
  <div class="feature bg-primary bg-gradient text-white rounded-4 mb-3"><i class="icofont-envelope"></i></div>
  <h1 class="fw-bold text-black mb-1">How can we help?</h1>
  <p class="lead fw-normal text-muted mb-0">We'd love to hear from you</p>
  </div>
  
  <div class="feeds">
  
  <div class="bg-white p-4 feed-item rounded-4 shadow-sm /faq-page">
  <div class="mb-3">
  <h5 class="lead fw-bold text-body mb-0">Contact Form</h5>
  </div>
  <div class="row justify-content-center">
  <div class="col-lg-12">
  <form class="form-floating-space" id="contactForm" data-sb-form-api-token="API_TOKEN">
  
  <div class="form-floating mb-3">
  <input class="form-control rounded-5" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
  <label for="name">Full name</label>
  <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
  </div>
  
  <div class="form-floating mb-3">
  <input class="form-control rounded-5" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
  <label for="email">Email address</label>
  <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
   <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
  </div>
  
  <div class="form-floating mb-3">
  <input class="form-control rounded-5" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
  <label for="phone">Phone number</label>
  <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
  </div>
  
  <div class="form-floating mb-3">
  <textarea class="form-control rounded-5" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
  <label for="message">Message</label>
  <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
  </div>
  
  
  
  
  <div class="d-none" id="submitSuccessMessage">
  <div class="text-center mb-3">
  <div class="fw-bolder">Form submission successful!</div>
  To activate this form, sign up at
  </div>
  </div>
  
  
  
  
  <div class="d-none" id="submitErrorMessage">
  <div class="text-center text-danger mb-3">Error sending message!</div>
  </div>
  
  <div class="d-grid"><button class="btn btn-primary w-100 rounded-5 text-decoration-none py-3 fw-bold text-uppercase m-0" id="submitButton" type="submit">Submit</button></div>
  </form>
  </div>
  </div>
  <div class="row row-cols-2 row-cols-lg-4 pt-5">
  <div class="col">
  <div class="feature bg-primary bg-gradient text-white rounded-4 mb-3"><i class="icofont-chat"></i></div>
  <div class="h6 mb-2 fw-bold text-black">Chat with us</div>
  <p class="text-muted mb-0">Chat live with one of our support specialists.</p>
  </div>
  <div class="col">
  <div class="feature bg-primary bg-gradient text-white rounded-4 mb-3"><i class="icofont-people"></i></div>
  <div class="h6 fw-bold text-black">Ask the community</div>
  <p class="text-muted mb-0">chat our community forums and communicate with other users.</p>
  </div>
  <div class="col">
  <div class="feature bg-primary bg-gradient text-white rounded-4 mb-3"><i class="icofont-question-circle"></i></div>
  <div class="h6 fw-bold text-black">Support center</div>
  <p class="text-muted mb-0">Browse /faq's and support articles to find solutions.</p>
  </div>
   <div class="col">
  <div class="feature bg-primary bg-gradient text-white rounded-4 mb-3"><i class="icofont-telephone"></i></div>
  <div class="h6 fw-bold text-black">Call us</div>
  <p class="text-muted mb-0">Call us during normal business hours at (555) 892-9403.</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </main>

  {% endblock main %}