{% extends "index.html" %}
{% load static %}
{% block main %}

<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
  <div class="main-content">
  <div class="mb-5">
  <header class="profile d-flex align-items-center">
  <img alt="#" src="../static/img/logo.png" class="rounded-circle me-3">
  <div>
  <span class="text-muted text_short">WELCOME 👋</span>
  <h4 class="mb-0 text-dark"><span class="fw-bold">Sahil</span></h4>
  </div>
  </header>
  </div>
  
  <div class="feeds">
  
  <div class="bg-white p-4 feed-item rounded-4 shadow-sm mb-3 faq-page">
  <div class="mb-3">
  <h5 class="lead fw-bold text-body mb-0">Edit Profile</h5>
  </div>
  <div class="row justify-content-center">
  <div class="col-lg-12">
  <form action="/profile">
  <div class="form-floating mb-3 d-flex align-items-end">
  <input type="text" class="form-control rounded-5" id="floatingName" value="Sahil" placeholder="first">
  <label for="floatingName">NAME</label>
  </div>
  <div class="form-floating mb-3 d-flex align-items-center">
  <input type="text" class="form-control rounded-5" id="floatingBirth" value="01/12/21" placeholder="DATE OF BIRTH">
  <label for="floatingBirth">DATE OF BIRTH</label>
  </div>
  <div class="form-floating mb-3 d-flex align-items-center">
  <input type="email" class="form-control rounded-5" id="floatingEmail" placeholder="sahil@gmail.com" value="sahil@gmail.com">
  <label for="floatingEmail">EMAIL</label>
  </div>
  <div class="form-floating mb-3 d-flex align-items-center">
  <input type="password" class="form-control rounded-5" id="floatingPass" placeholder="password" value="12345678">
  <label for="floatingPass">PASSWORD</label>
  </div>
  <label class="mb-2 text-muted small">GENDER</label>
  <div class="d-flex align-items-center mb-3 px-0">
  <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="male" checked>
  <label class="form-check-label" for="male">
  Male
  </label>
  </div>
  <div class="form-check mx-3">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="female">
  <label class="form-check-label" for="female">
  Female
  </label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="not" >
  <label class="form-check-label" for="not">
  Prefer not to say
  </label>
  </div>
  </div>
  <div class="d-grid">
  <button class="btn btn-primary rounded-5 w-100 text-decoration-none py-3 fw-bold text-uppercase m-0">SAVE</button>
  </div>
  </form>
  </div>
  </div>
  </div>
  <div class="bg-white p-4 feed-item rounded-4 shadow-sm faq-page mb-3">
  <div class="mb-3">
  <h5 class="lead fw-bold text-body mb-0">Confirm your password
  </h5>
  <p class="mb-0">Please enter your password in order to get this.
  </p>
  </div>
  <div class="row justify-content-center">
  <div class="col-lg-12">
  <form action="/profile">
  <div class="form-floating mb-3 d-flex align-items-center">
  <input type="password" class="form-control rounded-5" id="floatingPass" placeholder="password" value="12345678">
  <label for="floatingPass">PASSWORD</label>
  </div>
  <div class="d-grid">
  <button class="btn btn-primary w-100 text-decoration-none rounded-5 py-3 fw-bold text-uppercase m-0">Confirm</button>
  </div>
  </form>
  </div>
  </div>
  </div>
  <!-- <div class="bg-white p-4 feed-item rounded-4 shadow-sm faq-page">
  <div class="mb-3">
  <h5 class="lead fw-bold text-body mb-0">APP SETTINGS
  </h5>
  </div>
  <div class="row justify-content-center">
  <div class="col-lg-12">
  <p class="border-bottom py-3 d-flex align-items-center mb-0">
  <span>AUTOPLAY VIDEOS ON FEED</span>
  <span class="ms-auto form-check form-switch">
  <input class="form-check-input mt-2 ms-0" type="checkbox" id="flexSwitchCheckDefault">
  </span>
  </p>
  <p class="pt-3 d-flex align-items-center mb-0">
  <span>NOTIFICATIONS</span>
  <span class="ms-auto form-check form-switch">
  <input class="form-check-input mt-2 ms-0" type="checkbox" id="flexSwitchCheckDsefault">
  </span>
  </p>
  </div>
  </div>
  </div> -->
  </div>
  </div>
  </main>
  {% endblock main %}