{% extends "index.html" %}
{% load static %}
{% block main %}

<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
  <div class="main-content">
  <div class="mb-5">
  <div class="feature bg-primary bg-gradient text-white rounded-4 mb-3"><i class="mdi mdi-help"></i></div>
  <h2 class="fw-bold text-black mb-1">Frequently Asked Questions</h2>
  <p class="lead fw-normal text-muted mb-0">How can we help you?</p>
  </div>
  
  <div class="feeds">
  
  <div class="bg-white p-4 feed-item rounded-4 shadow-sm faq-page">
  
  <div class="rounded-3">
  <div class="mb-3">
  <h5 class="lead fw-bold text-body mb-0">Basics</h5>
  </div>
  <div class="row justify-content-center">
  <div class="col-lg-12">
  
  <div class="accordion overflow-hidden bg-white" id="accordionExample">
  <div class="accordion-item">
  <h3 class="accordion-header" id="headingOne"><button class="accordion-button fw-bold m-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Do you have any built-in caching?</button></h3>
  <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  </p>
  </div>
  </div>
  </div>
  <div class="accordion-item">
  <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Can I add/upgrade my plan at any time?</button></h3>
  <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  <strong>This is the second item's accordion body.</strong>
  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
  <code>.accordion-body</code>
  , though the transition does limit overflow.
  </div>
  </div>
  </div>
  <div class="accordion-item">
  <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What access comes with my hosting plan?</button></h3>
  <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  <strong>This is the third item's accordion body.</strong>
  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
  <code>.accordion-body</code>
  , though the transition does limit overflow.
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="mb-3 mt-4 pt-2">
  <h5 class="lead fw-bold text-body mb-0">Account</h5>
  </div>
  <div class="row justify-content-center">
  <div class="col-lg-12">
  
  <div class="accordion overflow-hidden bg-white" id="accordionExample">
  <div class="accordion-item">
  <h3 class="accordion-header" id="headingTwo4"><button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">How can I control if other search engines can link to my profile?</button></h3>
  <div class="accordion-collapse collapse" id="collapseTwo4" aria-labelledby="headingTwo4" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  <strong>This is the second item's accordion body.</strong>
  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
  <code>.accordion-body</code>
  , though the transition does limit overflow.
  </div>
  </div>
  </div>
  <div class="accordion-item">
  <h3 class="accordion-header" id="headingOne1"><button class="accordion-button fw-bold m-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">How do I change my password?</button></h3>
  <div class="accordion-collapse collapse show" id="collapseOne1" aria-labelledby="headingOne1" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  <p class="m-0">Ppropriate classes that we use to style each Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable.
  </p>
  </div>
  </div>
  </div>
  <div class="accordion-item">
  <h3 class="accordion-header" id="headingTwo2"><button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">How do I delete my account?</button></h3>
  <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  <strong>This is the second item's accordion body.</strong>
  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
  <code>.accordion-body</code>
  , though the transition does limit overflow.
   </div>
  </div>
  </div>
  <div class="accordion-item">
  <h3 class="accordion-header" id="headingThree3"><button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">How do I change my account settings?</button></h3>
  <div class="accordion-collapse collapse" id="collapseThree3" aria-labelledby="headingThree3" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  <strong>This is the third item's accordion body.</strong>
  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
  <code>.accordion-body</code>
  , though the transition does limit overflow.
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </main>
  
  {% endblock main %}