@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  color: #6c757d;
  overflow-x: hidden;
  background-color: #ececec !important
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: gilroy, sans-serif
}

.faq-page .accordion-button {
  font-size: 14px
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem
}

.slick-track {
  display: flex
}

.slick-slide {
  display: flex;
  justify-content: center
}

.trail-slider .slick-dots {
  bottom: -5px !important
}

.slick-slider {
  margin-bottom: 0 !important
}

.slick-dots {
  bottom: 11px
}

.slick-arrow {
  background: #fff !important;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  box-shadow: 0 .5px 10px rgba(0, 0, 0, .2) !important;
  z-index: 9
}

.slick-arrow:hover,
.slick-arrow:focus {
  background: #0e6dfd !important
}

.slick-arrow:hover:before,
.slick-arrow:focus:before {
  color: #fff
}

.slick-prev:before,
.slick-next:before {
  color: #000;
  font-size: 20px;
  font-weight: 700
}

.slick-next {
  right: 15px
}

.slick-prev {
  left: 15px !important
}

.slick-prev:before {
  content: "\eac9";
  font-family: IcoFont !important
}

.slick-next:before {
  content: "\eaca";
  font-family: IcoFont !important
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none
}

::-webkit-scrollbar-corner {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, .15);
  -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .05), inset 1px 1px 0 rgba(0, 0, 0, .05);
  box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .05), inset 1px 1px 0 rgba(0, 0, 0, .05)
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #fff
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background: hsla(0, 0%, 53.3%, .4)
}

.dropdown-menu.fs-13.dropdown-menu-end {
  padding: 6px;
  border-radius: 8px
}

.dropdown-menu.fs-13.dropdown-menu-end .dropdown-item {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border-radius: 6px
}

.dropdown-menu.fs-13.dropdown-menu-end .dropdown-item span {
  margin: 0 8px 0 0 !important
}

.bg-light {
  background-color: #edf2f6 !important
}

.small {
  font-size: .875em !important
}

.fs-3 {
  font-size: 3px !important
}

.fs-13 {
  font-size: 13px !important
}

.fs-11 {
  font-size: 11px !important
}

.fw-500 {
  font-weight: 500 !important
}

.ln-0 {
  line-height: 0 !important
}

.ln-18 {
  line-height: 18px
}

.ln-25 {
  line-height: 25px !important
}

.rounded-4 {
  border-radius: 14px
}

.rounded-5 {
  border-radius: 8px
}

.form-control:focus {
  border-color: none;
  box-shadow: none
}

.bg-warning-100 {
  background-color: #f6f3e6
}

.fix-sidebar {
  position: sticky;
  top: 20px
}

.sticky-sidebar2 {
  position: sticky;
  top: 20px
}

.rotate-320 {
  transform: rotate(320deg)
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd
}

.chat-text {
  padding: 9px 13px !important
}

.ltsp-n5 {
  letter-spacing: -5px !important
}

.md-3 {
  font-size: 3px !important
}

.md-13 {
  font-size: 13px !important
}

.md-14 {
  font-size: 14px !important
}

.md-16 {
  font-size: 16px !important
}

.md-18 {
  font-size: 18px !important
}

.md-20 {
  font-size: 20px !important
}

.md-32 {
  font-size: 32px !important
}

.md-36 {
  font-size: 36px !important
}

.md-48 {
  font-size: 48px !important
}

.h6,
h6 {
  font-size: 14px
}

#commentModal .modal-dialog {
  max-width: 815px
}

#commentModal .modal-content,
#commentModal .modal-content .h-600 {
  height: 600px
}

#commentModal .content-body .user-img {
  height: 40px
}

.logo {
  height: 51px;
  border-radius: 50%;
  border: 5px solid #0e6dfd;
}

.navbar {
  justify-content: start;
  align-items: start
}

.top-osahan-nav-tab {
  z-index: 9
}

.top-osahan-nav-tab .nav-link {
  text-transform: uppercase;
  letter-spacing: 1px
}

.navbar .navbar-item {
  width: 100%
}

.sidebar-nav .navbar-nav a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #6c757d;
  padding: 12px 16px !important;
  border-radius: 11px;
  background: #edf2f6;
  margin-bottom: 9px
}

.sidebar-nav .navbar-nav .dropdown-menu {
  position: static !important;
  transform: unset !important;
  padding: 0 !important;
  border: none;
  background: 0 0
}

.sidebar-nav .navbar-nav .dropdown-menu a {
  padding: 7px 14px !important;
  font-size: 13px;
  margin: 2px 0 !important;
  border-radius: 8px !important
}

.sidebar-nav .navbar-nav a:hover,
.sidebar-nav .navbar-nav a.active {
  color: #000;
  background: #fff;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important
}

.dropdown-toggle::after {
  margin-left: auto
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #f8f9fa;
  border-bottom: 2px solid #0d6efd;
  border-radius: 0;
  color: #000 !important
}

.image-slider .slick-prev {
  z-index: 9;
  left: 20px
}

.image-slider .slick-next {
  z-index: 9;
  right: 10px
}

.image-slider img {
  width: 489px;
  height: 600px;
  object-fit: cover
}

.slick-prev:before,
.slick-next:before {
  color: #f8c146 !important
}

.user-list-item .img-fluid {
  height: 60px;
  width: 60px
}

.btn-check:active+.btn-outline-primary .follow,
.btn-check:checked+.btn-outline-primary .follow {
  display: none
}

.btn-check:active+.btn-outline-primary .following,
.btn-check:checked+.btn-outline-primary .following {
  display: block !important
}

.pf-item img {
  height: 60px
}

.pf-item {
  align-items: center
}

.account-slider .account-item .position-absolute {
  bottom: 4px;
  right: 0;
  left: 0
}

.feeds .feed-item img.user-img {
  height: 50px
}

.account-follow .account-item img {
  height: 50px
}

.langauge-item .btn-language {
  border: 1px solid #dee2e6
}

.btn-check:active+.btn-language,
.btn-check:checked+.btn-language,
.btn-language.active,
.btn-language.dropdown-toggle.show,
.btn-language:active {
  background-color: #0d6efd;
  color: #fff;
  font-weight: 700;
  border: 1px solid #0d6efd !important
}

.btn-check:checked+.btn-language span {
  color: #fff !important;
  font-weight: 700 !important
}

.btn-check:focus+.btn,
.btn:focus {
  box-shadow: none
}

#email {
  display: none
}

.offcanvas.offcanvas-start {
  width: 250px
}

.comments img {
  height: 36px;
  min-width: 36px;
  width: 36px
}

.ov-icon {
  font-size: 9px !important;
  padding: 3px !important
}

.profile img {
  height: 65px
}

.followers img {
  height: 25px;
  border: 2px solid #fff;
  margin: 0 -6px 0 0
}

@media(max-width:576px) {
  .m-sm-none {
    display: none !important
  }
}

@media(max-width:992px) {
  .lg-none {
    display: none
  }

  .main-content {
    width: 100% !important
  }

  .web-none.d-flex.align-items-center.px-3.pt-3 {
    background: #fff;
    border-bottom: 1px solid #dee2e6;
    padding: .6rem 1rem !important
  }

  img.img-fluid.logo-mobile {
    height: 36px;
    border-radius: 50%;
    border: 5px solid #0e6dfd;
  }

  button.ms-auto.btn.btn-primary.ln-0 {
    padding: 2px 3px !important;
    width: 33px
  }

  .col-md-2.ps-0.offcanvas.offcanvas-start.show {
    padding: 0 !important
  }
}

@media(max-width:1200px) {
  .m-none {
    display: none !important
  }

  .main-content {
    width: 75%
  }

  .side-trend {
    width: 25%
  }

  .web-none.d-flex.align-items-center.px-3.pt-3 {
    background: #fff;
    border-bottom: 1px solid #dee2e6;
    padding: .6rem 1rem !important
  }

  img.img-fluid.logo-mobile {
    height: 36px;
    border-radius: 50%;
    border: 5px solid #0e6dfd;
  }

  button.ms-auto.btn.btn-primary.ln-0 {
    padding: 2px 3px !important;
    width: 33px
  }

  .col-md-2.ps-0.offcanvas.offcanvas-start.show {
    padding: 0 !important
  }
}

@media(min-width:1200px) {
  .web-none {
    display: none !important
  }

  .mt-web-5 {
    margin-top: 1.3rem !important
  }

  .px-web-0 {
    padding-left: 0 !important;
    padding-right: 0 !important
  }

  .web-none.d-flex.align-items-center.px-3.pt-3 {
    background: #fff;
    border-bottom: 1px solid #dee2e6;
    padding: .6rem 1rem !important
  }

  img.img-fluid.logo-mobile {
    height: 36px;
    border-radius: 50%;
    border: 5px solid #0e6dfd;
  }

  button.ms-auto.btn.btn-primary.ln-0 {
    padding: 2px 3px !important;
    width: 33px
  }

  .col-md-2.ps-0.offcanvas.offcanvas-start.show {
    padding: 0 !important
  }
}